/* public/styles/auth.css */
body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(to right, #ece9e6, #ffffff);
}

.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.auth-form {
  background: #ffffff;
  padding: 2.5rem 2rem;
  border-radius: 16px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.08);
  width: 100%;
  max-width: 420px;
  transition: transform 0.3s ease-in-out;
}

.auth-form h2 {
  margin-bottom: 1.8rem;
  text-align: center;
  color: #222;
}

.input-group {
  margin-bottom: 1.3rem;
}


.input-group label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 500;
  color: #444;
}

.input-group input {
  width: 100%;
  padding: 0.75rem 1rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 10px;
  transition: border-color 0.3s ease;
}
.input-group input::placeholder{
   color: black;
  opacity: 1;
}

.input-group input:focus {
  border-color: #0070f3;
  outline: none;
}

.auth-extra {
  text-align: right;
  margin-bottom: 1.5rem;
}

.forgot-link {
  font-size: 0.9rem;
  color: #0070f3;
  text-decoration: none;
  transition: color 0.2s ease;
}

.forgot-link:hover {
  color: #005fcc;
}

.auth-btn {
  width: 100%;
  padding: 0.85rem;
  background-color: #0070f3;
  color: #fff;
  border: none;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.auth-btn:hover {
  background-color: #005fcc;
}
.auth-select {
  width: 100%;
  padding: 0.75rem 1rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 10px;
  transition: border-color 0.3s ease;
  background-color: #fff;
  color:black;
}

.auth-select:focus {
  border-color: #0070f3;
  outline: none;
}
